version: "3.9"

services:
  keycloak:
    image: keycloak/keycloak:latest
    container_name: keycloak-container
    command:
      - start-dev
    ports:
      - "8080:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin